.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header_logo_container {
  position: absolute;
  right: -22.5%;
  z-index: 0;
  height: 100%;
  opacity: 0.1;
}

.header_logo {
  height: 100%;
}

.grid_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.grid_wrapper_horizontal,
.grid_wrapper_vertical {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-gap: 50%;
  justify-items: center;
  align-items: center;
}

.grid_wrapper_horizontal div,
.grid_wrapper_vertical div {
  background-color: rgba(255, 255, 255, 0.05);
}

.grid_wrapper_vertical {
  grid-template-columns: 1fr 1fr;
}

.grid_wrapper_horizontal {
  grid-template-rows: 1fr 1fr;
}

.grid_wrapper_vertical div {
  width: 1px;
  height: 100%;
}

.grid_wrapper_horizontal div {
  width: 100%;
  height: 1px;
}

.header_content_wrapper {
  z-index: 1;
  margin: 0 10rem;
}

.heading {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 3rem;
  position: relative;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heading_underline {
  position: absolute;
  top: 36%;
  height: 10px;
  z-index: -1;
  width: 80%;
  background-color: var(--color-gold);
}
