@import "mixin.scss";

.schedule_an_appointment {
  padding-top: 4rem;
  padding-bottom: 4rem;
  @include global-padding();

  justify-content: space-between;

  .schedule_an_appointment_header {
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 2rem;
    position: relative;
    @include md(sm) {
      font-size: 2rem;
    }
  }
}
