@import "mixin.scss";

.footer {
  padding: 4rem 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-dark-1);
}

.footer_logo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  width: 6rem;
  height: auto;
  margin-bottom: 2rem;

  @include md(sm) {
    margin-bottom: 1rem;
    width: 4rem;
  }
}

.footer_logo_text {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 800;
  letter-spacing: 2px;
  @include md(sm) {
    font-size: 1rem;
  }
}

.footer_lists_container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  @include md(sm) {
    gap: 1rem;
    flex-direction: column;
  }
}

.footer_list {
  list-style: none;
  text-align: center;
}

.footer_list_item {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;

  @include md(sm) {
    font-size: 0.9rem;
  }
}

.footer_list_item:hover {
  text-decoration: underline;
}

.footer_social_media_list {
  display: flex;
  list-style: none;
}

.footer_social_media {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer_social_media_img {
  width: 2rem;
  height: auto;
  margin: 0 0.5rem;
  @include md(sm) {
    width: 1.5rem;
  }
}

.copyright {
  color: var(--color-white);
  text-align: center;

  @include md(sm) {
    font-size: 0.7rem;
  }
}
