.services {
}

.services_item_header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.services_item_heading {
  font-size: 2rem;
}

.services_item_icon_wrapper {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 2rem;
  padding: 1.2rem;
}

.services_item_icon {
  width: auto;
  height: 100%;
}

.services_item_body {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--primary-color);
}
